{% macro require_fragments(predicate, generator, title) %}
{% if predicate %}
<p>
          {{title}}: {% for require in generator(index) %}
            {% if isinstance(require, Class) -%}
              <a href="#class_{{require.id}}">{{require.friendly_name}}</a>
            {%- elif isinstance(require, Tier) -%}
              <a href="#class_tier_{{require.sequence}}">{{require.name}}</a>
            {%- else %}{{require}}{% endif %}
          {% endfor %}.
        </p>
{%- endif %}
{%- endmacro %}

{% macro stats_table(map, title) %}
{% if map -%}
          <table>
            <thead>
              <tr><th colspan="2">{{title}}</th></tr>
            </thead>
            <tbody>
              {% for name, amount in map.items() %}
              <tr><td>{{name}}</td><td>{{amount}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
{% endif %}
{% endmacro %}
