{% macro require_fragments(predicate, generator, title) %}
{% if predicate %}
        <p>
          {{title}}: {% for require in generator(index) %}
          {% if hasattr(require, 'permalink') -%}
          <a href="#{{require.permalink}}">{{require.friendly_name}}</a>
          {%- else %}{{require}}{% endif %}
          {% endfor %}.
        </p>
{% endif %}
{% endmacro %}

{% macro stats_table(map, title) %}
{% if map %}

          <table>
            <thead>
              <tr><th colspan="2">{{title}}</th></tr>
            </thead>
            <tbody>
              {% for name, amount in map.items() %}
              <tr><td>
                {%- set entry = index.get(name) -%}
                {%- if entry -%}
                <a href="#{{entry.permalink}}">{{entry.friendly_name}}</a>
                {%- else %}{{name}}{% endif -%}
                </td><td>{{amount}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
{% endif %}
{% endmacro %}
